@import "./../../theme/vars";

.item-film{
    position: relative;
    display: block;
    // max-width: 300px;
    border: 1px solid black;
    padding:16px;
    background-color: $bg-color;
    border-radius: 12px;
    margin:auto;
    &__excerpt{
        max-height: 70px;
        overflow: hidden;
    }
    &__footer{
        margin-top:16px;
    }
}