* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Mixins*/
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: "";
  $remValues: "";

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value * 10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}

body {
  color: $textBody-color;
  font-size: 10px;
}

/*==============================================
ELEMENTS
================================================ */

h1 {
  font-family: $font-mainTitle;
  font-size: 40px;
  margin-bottom: 70px;
  margin-top: 0;
  line-height: 1.4em;
  color: $textNegative-color;
  color: $primary-color;
  text-align: left;
}
@media only screen and (min-width: 960px) {
  h1 {
    font-size: 58px;
    text-align: left;
  }
}

h2 {
  font-family: $font-secondaryTitle;
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 0.5em;
  margin-bottom: 0.666em;
  margin-top: -12px;
  text-align: left;
  line-height: 1.4em;
  color: $textNegative-color;
  text-align: center;
  @media only screen and (min-width: 992px) {
    text-align: left;
    font-size: 3.6px;
  }
}

h3 {
  font-family: $font-destacado;
  font-size: 20;
  font-weight: normal;
  margin-bottom: 0.666em;
  line-height: 1.2em;
  color: $textNegative-color;
}
@media only screen and (min-width: 960px) {
  h3 {
    font-size:2.4;
    text-align: left;
  }
}
h4 {
  font-family: $font-destacado;
  color: $textNegative-color;
  font-size: 18px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  @media only screen and (min-width: 960px) {
    font-size: 20px;
  }
}

hr {
  margin: 0;
  padding: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  height: 0;
}

p {
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.5;
  color: $textBody-color;
  letter-spacing: 0.02em;
  margin-top: 0;
  text-align: left;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.5em;
  color: $textBody-color;
  margin-top: 0;
  margin-bottom: 1em;
  list-style: none;
}

strong {
  font-family: $font-destacado;
}

a {
  font-family: $fontLink;
  font-size: 18px;
  line-height: 1.5em;
  color: $link-color;
  text-decoration: none;
  transition: color 100ms, background-color 100ms;
  cursor: pointer;
  &:hover {
    color: $linkHover-color;
    text-decoration: underline;
  }
  &:visited {
    color: $linkVisited-color;
  }
  &.link--colorBody {
    color: $textBody-color;
  }
}
@media only screen and (min-width: 960px) {
  a {
    font-size:25px;
    line-height: 1.44em;
    text-align: left;
  }
}

figure {
  margin: 2.4em 0;
  padding: 0;
  img {
    margin: 0 auto;
  }
  &:last-child {
    img {
      padding-right: 0;
    }
  }
  &:first-child {
    img {
      padding-left: 0;
    }
  }
}
figcaption {
  font-size: 20px;
  line-height: 1.4em;
  text-align: center;
  width: auto;
  margin-bottom: 18px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

blockquote {
  font-size: 32px;
  line-height: 1.25em;
  color: $textBody-color;
}

ul {
  padding-left: 0;
}
