
$mobilePortrait: "(min-width: 320px)";
$mobileLandscape: "(min-width: 480px)";
$tabletPortrait: "(min-width: 768px)";
$tabletLandscape: "(min-width: 992px)";
$desktop: "(min-width: 1220px)";
$desktop1440: "(min-width: 1441px)";
$desktop2K: "(min-width: 1920px)";
$desktop4K: "(min-width: 2800px)";