@import "./../../theme/vars";

.logo{
    padding: 16px 0;
    margin:32px;
    text-align: center;
    @media #{$tabletLandscape} {
        margin:0;
    }
}
.align-middle{
 align-items: center;
}
.content-top__form{
    margin-bottom: 24px;
    @media #{$tabletLandscape} {
        margin:0;
    }
    @media #{$desktop} {
        margin-left: 100px;
    }
}